
.security{
    margin-top: 15px;
}

.security-text{
    font-size: 20px;
    color: #133163;
}

.security-title{
    font-size: 35px;
    color: #E58A36;
}

.card-img-top{
    width: 90%;
    height: auto;
}