
.howworks{
    margin-top: 15px;
}

.howworks-text{
    font-size: 20px;
    color: #115A87;
}

.howworks-title{
    font-size: 35px;
    color: #E58A36;
}

h4{
    color: #E58A36;
}

.fa-search{
    color: black;
}

.fa-clipboard-list{
    color: black;
}

.fa-credit-card{
    color: black;
}

.fa-sms{
    color: black;
}

.fa-star{
    color: black;
}

.card-img-top{
    width: 90%;
    height: auto;
}