.row.row-cols-2.row-cols-md-3{
    justify-content: center;
}

.col.mb-5{
    width: 100%;
    height: 350px;
}

.row{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.container{
    box-sizing: none;
    width: 1080px;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height: auto;
    margin-top: 150px;
    padding: 0;
}

.card-img-top{
    max-width: 600px;
    max-height: 175px;
    width: 100%;
    height: auto;
}