body{
    background-color:#878787;
}

.row{
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.col-xl-1{
    margin-top: 13px;
}

.col-xl-2{
    margin-top: 6px;
}

.navbar-1{
    background-color: #676464;
    height: 50px;
    width: 100%;
    margin-top: -20px;
}

.row.row-cols-1.row-cols-md-2{
    justify-content: center;
}

.container-fluid-1{
    background-color: #ECF232;
    display: flex;
    min-height: 100px;
    justify-content: center;
}

.navbar-navigation{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

.nav-link{
    color: white;
}

.card-body{
    background-color: #878787;
    color: white;
}

.form-inline{
    display: flex;
    margin-top: 10px;
    height: auto;
}

.navbar-brand{
    border: 5px black;
    border-style: dotted;
    max-width: 250px;
    max-height: 180px;
    width: 250px;
    height: auto;
    text-align: center;
}

.active-pink input[type=text] {
    border: 2px solid #9518BE;
    background-color: #878787;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
    max-height: 35px;
    max-width: 900px;
    min-width: 50px;
    min-height: 30px;
    display: block;
    width: 600px;
}

.anunciar{
    text-align: center;
    color: white;
}

.btn-primary{
    max-width: 150px;
    min-width: 100px;
}

.plan{
    margin-left: 10px;
    color: black;
    position: relative;
}

.btn-anuncio{
    color: white;
    background-color: #9518BE;
    border-style: none;
    border-radius: 15px;
    max-width: 160px;
    max-height: 50px;
    min-height: 40px;
    min-width: 120px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .navbar, .container-fluid,.navbar-nav,.navbar-items,.nav-item,.btn-anuncio,.navbar-brand,.navbar-1,.card.navbar-navigation{
        height: auto;
        width: 100%;
        display: block;
        float: none;
    }
    .active-pink input[type=text]{
        width: auto;
    }
    .navbar-items,.nav-item,.btn-anuncio{
        margin: 3px;
    }
}
