.payway{
    margin-top: 15px;
}

.payway-text{
    font-size: 20px;
    color: #133163;
}

.payway-title{
    font-size: 35px;
    color: #E58A36;
}

.payway-titles{
    font-size: 25px;
    color: #E58A36;
}

h4{
    font-size: 25px;
    color: #0E83AA;
}

.card-img-top{
    width: 90%;
    height: auto;
}

.feature{
    margin-top: 10px;
}

.feature-content{
    margin: 20px;
}

i{
    color: #0E83AA;
}